%form
  .search-bar
    .search-bar-options
      %label Type de bien
      %div{class: 'search-bar-options-modal-toggle', data: {toggle: 'modal', target: '#search-modal'}}
    .search-bar-price
      %label Prix
      .search-bar-price-inputs
        .search-bar-price-inputs-from
          %input{type: 'text', placeholder: '100 000', class: 'price-input'}
          %span €
        %div{style: 'margin: 0 50px'} à
        .search-bar-price-inputs-to
          %input{type: 'text', placeholder: '500 000', class: 'price-input'}
          %span €
    .search-bar-submit
      %button{class: 'btn btn-lg btn-block search-btn'} Rechercher
    .modal.fade#search-modal{role: 'dialog', aria: {labelledby: 'myModalLabel', hidden: 'true'}}
      .modal-dialog
        .modal-content
          .modal-header
            %button{type: 'button', class: 'close', data: {dismiss: 'modal'}, aria: {hidden: :true}} &times;
            %h4{class: 'modal-title', id: 'myModalLabel'}Type de bien
          .modal-body
          %p ...
          .modal-footer
            %button{type: 'button', class: 'btn cta-default', data: {dismiss: 'modal'}} Fermer
            %button{type: 'button', class: 'btn cta-primary'} Sauvegarder
