/ if no search
.banner
  %h1 Achat et location de biens immobiliers professionnels en Pays Ribéracois

.results-wrapper
  .search
    SEARCH THAT SHIT
    .results
      .container-fluid
        .row
          - @places.each do |place|
            .col-sm-4.col-md-3
              = render "places/place", place: place


-# - @categories.each do |cat|
  -# = render 'category', category: cat
