/ if no search
.banner{style: "background-image: url(#{image_path 'banner.jpg'})"}
  %h1 Achat et location de biens immobiliers professionnels en Pays Ribéracois

.results-wrapper
  .search
    = render 'places/search'
    .results
      .container-fluid
        .row
          - @places.each do |place|
            .col-sm-4
              = render "places/place", place: place


-# - @categories.each do |cat|
  -# = render 'category', category: cat
