.cta {
  padding: 7px 10px;
  color: white;
  background: $green;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $green;
    background: white;
  }
}.orange-btn {
  padding: 7px 10px;
  color: white;
  background: $orange;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $orange;
    background: white;
  }
}