.place-banner {
  background-size: cover;
  height: 400px;
}
.wrapper-place {
  margin: 3% 0;
  .place-title {
    font-size: 25px;
    font-family: $headers-font;
    font-weight: bold;
  }
  .place-details {
    display: flex;
    justify-content: space-between;
  }
  .place-contact {
    padding: 15px 25px;
    background: #f1f6ea;
    max-width: 250px;
    .place-phone {
      font-size: 26px;
      color: $orange;
      font-weight: bold;
    }
  }
}