.graph
  .class-a.dpe-a
    &leq; 50
    %span A
  .class-b.dpe-b
    51 à 90
    %span B
  .class-c.dpe-c
    91 à 150
    %span C
  .class-d.dpe-d
    151 à 230
    %span D
  .class-e.dpe-e
    231 à 330
    %span E
  .class-f.dpe-f
    331 à 450
    %span F
  .class-g.dpe-g
    > 450
    %span G