.graph
  .class-a.ges-a
    &leq; 5
    %span A
  .class-b.ges-b
    6 à 10
    %span B
  .class-c.ges-c
    11 à 20
    %span C
  .class-d.ges-d
    21 à 35
    %span D
  .class-e.ges-e
    36 à 55
    %span E
  .class-f.ges-f
    56 à 80
    %span F
  .class-g.ges-g
    > 80
    %span G