.place.card
  = image_tag_or_default(place.pictures.first, width: 460, height: 270, class: "card-thumbnail")
  .card-content
    .card-title
      = place.title
    .split
      .card-price
        = money place.price
      .card-surface
        = area place.surface
