.split
  .results-wrapper
    .search
      SEARCH THAT SHIT

    .results
      .container-fluid
        .row
          - @places.each do |place|
            .col-sm-12.col-md-6
              = render "places/place", place: place
  .map-wrapper
    = render "places/map", markers_data: @markers_data
